<div class="row" style="padding-top:30px;">
    <div class="col-12 col-lg-6 col-xl">
      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h6 class="card-title text-uppercase text-muted mb-2">
                Followers
              </h6>
              
              <!-- Heading -->
              <span class="h2 mb-0">
                {{ statistics.now.statistics.twitter.followers }}
              </span>

              <!-- Badge -->
              <span ng-if="followers_delta > 0" class="badge badge-soft-success mt--1">
                +{{ followers_delta }}
              </span>
              <span ng-if="followers_delta <= 0" class="badge badge-soft-danger mt--1">
                {{ followers_delta }}
              </span>
            </div>
            <div class="col-auto">
              <!-- Icon -->
            </div>
          </div> <!-- / .row -->

        </div>
      </div>

    </div>
    <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
  
                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                    Following
                </h6>
                
                <!-- Heading -->
                <span class="h2 mb-0">
                    {{ statistics.now.statistics.twitter.following }}
                </span>
  
                <!-- Badge -->
                <span ng-if="following_delta > 0" class="badge badge-soft-success mt--1">
                    +{{ following_delta }} 
                </span>
                <span ng-if="following_delta <= 0" class="badge badge-soft-danger mt--1">
                    {{ following_delta }}
                </span>
              </div>
              <div class="col-auto">
                <!-- Icon -->  
              </div>
            </div> <!-- / .row -->
  
          </div>
        </div>
  
      </div>
      <div class="col-12 col-lg-6 col-xl">
        <!-- Card -->
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
  
                <!-- Title -->
                <h6 class="card-title text-uppercase text-muted mb-2">
                    Tweets
                </h6>
                
                <!-- Heading -->
                <span class="h2 mb-0">
                    {{ statistics.now.statistics.twitter.tweet_count }}
                </span>
  
                <!-- Badge -->
                <span ng-if="tweets_delta > 0" class="badge badge-soft-success mt--1">
                    +{{ tweets_delta }}
                </span>
                <span ng-if="tweets_delta <= 0" class="badge badge-soft-danger mt--1">
                    {{ tweets_delta }}
                </span>
              </div>
              <div class="col-auto">
                <!-- Icon -->  
              </div>
            </div> <!-- / .row -->
  
          </div>
        </div>
  
      </div>

</div>

<div ng-if="statistics.now === undefined && loading === false">
    <p style="color:red;" class="text-center">Error Please Try again Later.</p>
</div>
