<div ng-if = "userAccountData.screen_name != und" class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">
            
            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    <!-- Title -->
                    <h1 class="header-title">
                      Settings
                    </h1>

                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a  class="nav-link active">
                          General
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <!-- Form -->
            <form class="mb-4">
              <div class="row">
                <div class="col-12">
                  <!-- First name -->
                  <div class="form-group">
                    <!-- Label -->
                    <label>
                      Name
                    </label>
                    <!-- Input -->
                    <input type="text" class="form-control" value="{{ userAccountData.name }}" readonly>
                  </div>

                </div>
                <div class="col-12">
                  
                  <!-- Email address -->
                  <div class="form-group">

                    <!-- Label -->
                    <label class="mb-1">
                      Email address
                    </label>

                    <!-- Form text -->
                    <small class="form-text text-muted">
                      Your Email is hidden and i not love spam too so don't worry.
                    </small>
                    <!-- Input -->
                    <input type="email" class="form-control" value="{{ userAccountData.email }}" readonly>
                  </div>
                </div>
              </div> <!-- / .row -->
              <!-- Divider -->
              <hr class="mt-4 mb-5">
              <label for="">
                    Subscription <span class="badge badge-danger">{{ userAccountData.license_name }}</span>
              </label>
              <label for="">
                    Timezone  <span class="badge badge-primary">{{ userAccountData.time_zone }}</span>
              </label>
              
            </form>

        </div>
    </div> <!-- / .row -->
</div>


<div ng-if = "userAccountData.error != und">
    <p class="text-center" style="color:red;padding-top:30px;font-size: 25px;">Server Error Try again latter.</p>
</div>
