<div style="padding:20px;" class="list-group">
    <div ng-if=" allTrees !== undefined && allTrees.length > 0">
        <a ng-repeat = "tree in allTrees" href="#!/tree/{{ tree.name }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ tree.name }}</h5>
                <small>{{ tree.created_at }}</small>
            </div>
            <p class="mb-1" style="font-size:20px;"> Interseted in : {{ tree.description }}</p>
        </a>
    </div>

    <div ng-if = "allTrees !== undefined  && allTrees.length <= 0" style="padding:10px;margin:auto;width:50%;">
        <p style="color:black;font-size:20px;">No trees created yet create your own now <a href="#!/followTree" class="success">Create one.</a></p>
    </div>          
      
</div>
      