<div class="container-fluid" style="padding:60px;" ng-if="tasks_data.length > 0 && loading === false" class="card">
    <div class="row justify-content-center">
      <div class="col-12">
        <!-- Card -->
        <div class="card" data-toggle="lists">
          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th>
                    <a href="" class="text-muted sort" >
                        <i class="fas fa-tasks"></i>
                    </a>
                  </th>
                  <th>
                    <a href="" class="text-muted sort" >
                        <i class="fas fa-question"></i>
                    </a>
                  </th>
                  <th>
                    <a href="" class="text-muted sort">
                        <i class="fas fa-spinner"></i>
                    </a>
                  </th>
                  <th>
                    <a href="" class="text-muted sort">
                        <i class="fas fa-clock"></i>
                    </a>
                  </th> 
                  <th>
                    <a href="" class="text-muted sort">
                        <i class="far fa-trash-alt"></i>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr ng-repeat ="task in tasks_data" id="task{{ task.id }}">
                  <td class="orders-order">
                        {{ task.task_name }}
                  </td>
                  <td class="orders-product">
                        <span ng-if = "task.status == 0" class="badge badge-soft-warning">
                            In Progress
                        </span>
                        <span ng-if="task.status == 1" class="badge badge-soft-success">
                            Completed
                        </span>
                        <span ng-if = "task.status == 2" class="badge badge-soft-danger">
                            Failed
                        </span>
                  </td>
                  <td class="orders-date">
                    <div class="progress-wrapper">
                        <h4 class="progress-tooltip">{{ task.progress }}%</h4>
                    </div>
                  </td>
                  <td class="orders-total">
                    {{ task.expected_finish }}
                  </td>
                  <td class="orders-status">
                    <button type="button" id="deleteTask{{ task.id }}" ng-click = "deleteTask(task.id)" class="btn btn-danger btn-icon-only rounded-circle">
                        <span class="btn-inner--icon"><i class="far fa-trash-alt"></i></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div>
<div ng-if = "tasks_data.length <= 0 && loading === false">
    <div class="text-center" >
        <p style="color:red;font-size:20px;padding-top:30px;" >There's no tasks assocaited with your account.</p>
    </div>    
</div>
