<form style="padding: 20px;" name="checkRelation" novalidate>
    <div ng-form="relationForm">
        <div class="form-group mx-sm-3">
            <h3 style="color:red;padding: 20px;font-size: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"  >Check Relation between two accounts.</h3>   
            <input type="text" name="source" placeholder="@" ng-model="source_screen_name" class="form-control" ng-required="true"><br><br>
            <input type="text" name="target" placeholder="@" ng-model="target_screen_name" class="form-control" ng-required="true">
            <button  ng-disabled="checkRelation.$invalid" id="checkRelation" ng-click="getRelation(source_screen_name,target_screen_name)" class="btn btn-primary btn-lg"><i class="fas fa-user-check"></i></button>
        </div>
    </div>    
</form>

<div ng-if = "relation.source_data && relation.target" class="card" data-background-color="blue">
    <div class="card-body">
        <div class="author" style="padding: 10px;">
            <img src="{{ relation.source_data.profile.profile_image_url_https }}" alt="twitter_profile" class="avatar img-raised">
            <span><a href="/seshat/!profile/twitter/{{relation.source_data.profile.screen_name}}">@{{ relation.source_data.profile.screen_name  }}</a></span>
            <span ng-if="relation.relation.relationship.source.following" style="color:red; padding: 10px;">follows</span>
            <span ng-if="!relation.relation.relationship.source.following" style="color:red; padding: 10px;">not following</span>
            <img src="{{ relation.target.profile.profile_image_url_https }}" alt="twitter_profile" class="avatar img-raised">
            <span> <a href="/seshat/!profile/twitter/{{relation.target.profile.screen_name}}"> @{{ relation.target.profile.screen_name  }}</a></span>
        </div>
        <div class="author" style="padding: 10px;">
            <img src="{{ relation.target.profile.profile_image_url_https }}" alt="twitter_profile" class="avatar img-raised">
            <span> <a href="/seshat/!profile/twitter/{{relation.target.profile.screen_name}}"> @{{ relation.target.profile.screen_name  }}</a></span>
            <span ng-if="relation.relation.relationship.target.following" style="color:red; padding: 10px;">follows</span>
            <span ng-if="!relation.relation.relationship.target.following" style="color:red; padding: 10px;">not following</span>
            <img src="{{ relation.source_data.profile.profile_image_url_https }}" alt="twitter_profile" class="avatar img-raised">
            <span><a href="/seshat/!profile/twitter/{{relation.source_data.profile.screen_name}}">@{{ relation.source_data.profile.screen_name  }}</a></span>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>


