<div class="container-fluid" ng-if="timeline.type === 'posts' ">
    <div class="row justify-content-md-center" style="padding:30px;" ng-if="timeline.from === 'twitter'">
        <div class="col-12 col-xl-8" ng-controller="globalTwitterCtrl" ng-if="!timeline.error">
            <!-- Card -->
            <div ng-repeat="tweet in timeline.tweets" class="card">
                <div class="card-body" id="tweet{{$index}}">
                    <!-- Header -->
                    <div class="mb-3">
                        <div class="row align-items-center">

                            <div class="col-auto">
                                <span style='padding: 10px;' ng-if='tweet.retweeted'> <i class="fas fa-retweet" style="font-size:15px;"></i>
                                    <strong style='color:green;'><a href="#!/profile/twitter/{{ tweet.user_retweeted_tweet }}"
                                            class="badge badge-soft-danger">{{ tweet.user_retweeted_tweet }}</a></strong></span>
                                <br>
                                <!-- Avatar -->
                                <a href="#!/profile/twitter/{{ tweet.screenName }}" class="avatar">
                                    <img ng-src="{{ tweet.user_profile }}" alt="..." class="avatar-img rounded-circle">
                                </a>
                            </div>
                            <div class="col ml--2">

                                <!-- Title -->
                                <h5 class="card-title mb-1">
                                    <a href="#!/profile/twitter/{{ tweet.screenName }}" class="badge badge-soft-primary">{{
                                        tweet.screenName }}</a>
                                </h5>
                            </div>
                            <div class="col-auto">

                                <!-- Dropdown -->
                                <div class="dropdown">
                                    <a href="" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fe fe-more-vertical"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="" class="dropdown-item">
                                            <i class="fab fa-twitter-square"></i>
                                            <span class="col-sm-2 tweetThis" ng-click='copyTweet($event);' data-key='content{{ $index }}'>Tweet
                                                this.</span>
                                        </a>
                                        <div ng-if="tweet.full_text && tweet.lang != 'und'" class="dropdown-item">
                                            <a class='dropdown-item" link-info translateThis' ng-click="translateTweet($index)"
                                                data-from='{{ tweet.lang }}' data-key='{{ $index }}' href=''><i class="fas fa-language"></i>
                                                Translate this tweet.</a>
                                            <input type="hidden" value="{{ tweet.org_text }}" id="content{{ $index }}" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- / .row -->
                    </div>

                    <!-- Text -->
                    <p class="mb-3" ng-if="tweet.full_text" ng-bind-html="renderHtml(tweet.full_text)" dir='{{ tweet.dir }}'>
                    </p>

                    <!-- Image -->
                    <p class="text-center mb-3" ng-if="tweet.media.src">
                        <a ng-if='tweet.media.type == "image"' data-fancybox href='{{ tweet.media.src }}' class="fancybox"
                            data-caption="{{ tweet.org_text }}">
                            <img src="{{ tweet.media.src }}" alt="twitter_image" class="img-fluid rounded" />
                        </a>
                        <video ng-if=' tweet.media.type == "video"' class='afterglow' width="320" height="280" class="col-md-12"
                            poster="{{ tweet.media.poster }}" controls>
                            <source ng-src="{{ tweet.media.src }}" type="video/mp4">
                            Your browser does not support HTML5 video.
                        </video>
                    </p>
                    <!-- Buttons -->
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <a href="" ng-click="replayLogic($event)" data-twid="{{ tweet.tweet_id }}"
                                    data-replay-to="{{ tweet.replay_screen_name }}  {{ tweet.user_retweeted_tweet }}"
                                    class="btn btn-link tweet_replay">
                                    <span class="btn btn-sm btn-white" style="font-size:15px;"><i class="fas fa-reply"></i></span>
                                </a>
                                <button ng-click="retweetLogic($event)" id="retweet_unretweet_{{ tweet.tweet_id }}"
                                    data-twid="{{ tweet.tweet_id }}" data-action='{{ tweet.retweet_type }}' data-key="{{ $index }}"
                                    data-replay-context="0" class="{{ tweet.retweet_button_style }}">
                                    <i class="fas fa-retweet" style="font-size:15px;"></i>
                                    <span class='retweet_counter' style="font-size:15px;">{{ tweet.retweet_count }}</span>
                                </button>
                                <button id="like_unlike_{{ tweet.tweet_id }}" ng-click="likeLogic($event)" data-twid="{{ tweet.tweet_id }}"
                                    data-action='{{ tweet.like_type }}' data-key="{{ $index }}" data-replay-context="0"
                                    class="{{ tweet.like_status }}">
                                    <i class="far fa-heart" style="font-size:15px;"></i>
                                    <span class='like_counter' style="font-size:15px;">{{ tweet.like_count }}</span>
                                </button>
                            </div>
                            <div class="col-auto mr--3">
                                <div class="avatar-group d-none d-sm-flex">
                                    <i class="fab fa-twitter" style="font-size: 25px;"></i>
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section ng-if="timeline.tweets.length <= 0 && !timeline.echo_at">
    <div>
        <p class="text-center" style="font-size: 20px;color:red;font: bold;">No Data Founded.</p>
    </div>
</section>
<div ng-if="timeline.tweets.length <= 0 && timeline.echo_at == 'timeline'" class='container col-8' style="margin: auto;width: 50%;border: 3px solid blue;padding: 10px;">
    <div class="alert alert-info">
        <div class="container">
            <span>I think your account is new .. great to start with me.
                <br>first we need to follow some persons with same interset.<br>
                you can do this by follow tree feature or of course you can do this manually from twitter website or
                here also bellow some links important to you to start great media journey.<br>
            </span>
        </div>
    </div>
</div>
<section ng-if="timeline.error && !timeline.error.reauth">
    <div ng-repeat="err in timeline.error">
        <p class="text-center" style="font-size: 20px;color:red;font: bold;">{{ err }}</p>
    </div>
</section>