<div  ng-if="results.type === 'posts' " >
    <div ng-controller = "globalTwitterCtrl" ng-if="results.from === 'twitter'">
        <!-- Twitter Posts Section. -->
        <div>
                <section id="feed" ng-if = "!results.error"><!-- Feed posts -->
                    <ul>
                        <li  ng-repeat="tweet in results.tweets" class="angular-animate col-md-12" style="margin: auto;width: 100%;padding: 20px;">
                            <div class="tile">
                                    <div  class="postPhoto"> 
                                            <h6 class="stats stats-right category-social">
                                                    <i class="fab fa-twitter" style="font-size: 25px;"></i>
                                            </h6>
                                        <div ng-if="tweet.media.src">                                         
                                                <a ng-if='tweet.media.type == "image"' data-fancybox ng-href='{{ tweet.media.src }}' class="fancybox"  data-caption="{{ tweet.org_text }}" >
                                                    <img  ng-src="{{ tweet.media.src }}"    alt="twitter_image" class="img-rounded img-tweet"/>
                                                </a>
                                                <video ng-if=' tweet.media.type == "video"' class ='afterglow'  width="320" height="280" class="col-md-12" poster="{{ tweet.media.poster }}" controls>
                                                    <source ng-src="{{ tweet.media.src }}" type="video/mp4">
                                                    Your browser does not support HTML5 video.
                                                </video>
                                                <div class="share">
                                                    <span class="facebook icon-facebook"  title="" title-top="true"></span>
                                                    <span class="twitter icon-twitter"  title="" title-top="true"></span>
                                                    <span class="linkedin icon-linkedin"  title="" title-top="true"></span>
                                                    <span class="slack icon-slack"  title="" title-bottom="true"></span>
                                                </div>                                            
                                                <span class="badge"></span>
                                        </div> 
                                    </div>
                                    <div  class="postInfo">
                                        <div class="source-wrapper">
                                            <span style="padding:10px;float:right;font-size:15px;"><i class="fab fa-twitter" style="font-size: 25px;"></i> </span>
                                            <span style='padding: 10px;'ng-if='tweet.retweeted'>  Retweeted By: <strong style='color:green;'><a href="/seshat/!profile/twitter/{{ tweet.user_retweeted_tweet }}">{{ tweet.user_retweeted_tweet }}</a></strong></span>
                                            <div class='avatar'>
                                                <img style = 'border-radius:50%'  ng-src = "{{ tweet.user_profile }}"  title="" /> <span style='color:red;' dir='{{ tweet.dir }}'> <a  href="/seshat/!profile/twitter/{{ tweet.screenName }}">{{ tweet.screenName }}</a></span>
                                            </div>
                                        </div><br>
                                        <p ng-if="tweet.full_text" class = 'text-center' style='font-size: 16px;padding:20px; font-weight:bold;'  ng-bind-html="renderHtml(tweet.full_text)"  dir='{{ tweet.dir }}'></p><br><br><br><br>
                                    </div>
                                </a>
                                <div style="font-size: 15px;" class="postMeta">
                                    <div class="details angular-animate">
                                        <div class="post-menu">
                                                <div class="btn-group dropup" style="float:left">
                                                        <button id="dLabel" type="button" class="btn btn-just-icon btn-link btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                          <i class="fa fa-ellipsis-h"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" style="background-color:#FFFFF0;">
                                                            <li class="dropdown-item">
                                                                <a href="" class="seshatTweetView">
                                                                    <div class="row">
                                                                        <div class="col-sm-2">
                                                                        <i class="fas fa-chart-line"></i>
                                                                        <span class="col-sm-4" data-screen-name= "{{ tweet.screen_name }}" data-tweet-id="{{ tweet.tweet_id }}">analytic</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li ng-if="tweet.full_text && tweet.lang != 'und'" class="dropdown-item">
                                                                <a class = 'link-info translateThis' ng-click="translateTweet($index)" data-from='{{ tweet.lang }}'  data-key='{{ $index }}' href=''><i class='fas fa-globe'></i>Translate this tweet.</a>
                                                                <input type="hidden" value="{{ tweet.org_text }}" id ="content{{ $index }}" />
                                                            </li>
                                                            <li  class="dropdown-item">
                                                                <a href="">
                                                                    <div class="row">
                                                                        <div class="col-sm-2">
                                                                            <i class="fab fa-twitter-square"></i>
                                                                        </div>
                                                                        <div class="col-sm-9 tweetThis" ng-click='copyTweet($event);' data-key='content{{ $index }}'>Tweet this.</div>
                                                                    </div>
                                                                </a>
                                                            </li>                                              
                                                        </ul>
                                                </div>                
                                        </div><!---->
                    
                                        <div class="stats pull-right">
                                            <a href=""  ng-click="replayLogic($event)" data-twid = "{{ tweet.tweet_id }}" data-replay-to = "{{ tweet.replay_screen_name }}  {{ tweet.user_retweeted_tweet }}"  class="btn btn-link tweet_replay">
                                                <span class="icon-share" style="font-size:15px;"></span>
                                           </a>
                                            <button ng-click="retweetLogic($event)" id="retweet_unretweet_{{ tweet.tweet_id }}" data-twid = "{{ tweet.tweet_id }}" data-action = '{{ tweet.retweet_type }}' data-key="{{ $index }}" data-replay-context="0"  class="{{ tweet.retweet_button_style }}">
                                                <i class="fas fa-retweet" style="font-size:15px;"></i>
                                                <span class='retweet_counter' style="font-size:15px;">{{ tweet.retweet_count }}</span>
                                            </button>
                                            <button  id="like_unlike_{{ tweet.tweet_id }}" ng-click="likeLogic($event)" data-twid = "{{ tweet.tweet_id }}" data-action = '{{ tweet.like_type }}' data-key="{{ $index }}" data-replay-context="0"  class = "{{ tweet.like_status }}">
                                                <i class="far fa-heart" style="font-size:15px;"></i>
                                                <span class='like_counter' style="font-size:15px;">{{ tweet.like_count }}</span>
                                            </button>                                                                                                              
                                        </div>
                    
                                    </div>
                    
                                </div>
                            </div>
                    
                        </li><!---->
                    </ul>                                            
                    </section>
                    <section ng-if = "results.tweets.length <= 0">
                            <div>
                                <p class="text-center" style="font-size: 20px;color:red;font: bold;">No search Found please try another words.</p>
                            </div>
                    </section>
        </div>                     

        <!-- End Twitter Posts Section. -->
    </div>
</div>