<div ng-if="results.type === 'users' ">
    <div ng-controller = "globalTwitterCtrl" ng-if="results.from === 'twitter'">
        <!-- Twitter users sections. -->

        <div class="row" ng-if = "results.users.length > 0">
            <div class="col-md-4" ng-repeat="user in results.users">
                    <div class="card" style="width: 20rem;padding-right:10px;">
                        <img class="card-img-top" src="{{ user.profile_image_url_https }}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a class="text-danger" href="/seshat/!profile/twitter/{{ user.screen_name }}">@{{ user.screen_name }}  </a><button class="btn btn-primary btn-icon btn-round" ng-if="user.following" ng-click="relationOnFly('unfollow',user.id_str,this,$index)"><i class="fas fa-minus-circle"></i></button><button class="btn btn-primary btn-icon btn-round" ng-if="!user.following" ng-click="relationOnFly('follow',user.id_str,this,$index)"><i class="fas fa-plus-circle"></i></button>      
                            </h4><br>
                            <p class="card-text" style="color:black;">{{ user.description }}</p><br>
                            <span>Followers : </span><a href="#" class="card-link"> {{ user.followers_count }}</a>
                            <span>Following : </span><a href="#" class="card-link"> {{ user.friends_count }}</a>                        
                        </div>
                    </div>
                          
            </div>
        </div>                              
        <!-- End Twitter users sections. -->
    </div>
</div>