<div ng-if="results.type === 'users' " class="card shadow--hover mb-5">
    <div ng-controller = "globalTwitterCtrl" ng-if="results.from === 'twitter'">
            <!-- Twitter users sections. -->
            <div class="table-responsive" ng-if = "results.users.length > 0" id="comments">
                <!-- Save Task Button -->
                <button type="button" class="btn btn-primary btn-icon pull-right" style="padding:20px;" id="saveAsTask" ng-click="saveTaskAction(feature_type)"  ng-if = "saveTask"><span class="btn-inner--icon"><i class="fas fa-tasks"></i></span></button>
                    <table class="table table-flush mb-0 align-items-center">
                        <tbody>
                            <tr ng-repeat = "user in results.users track by $index">
                                <td style="width: 40%;">
                                    <div class="media align-items-center">
                                        <a href="/seshat/!profile/twitter/{{ user.screen_name }}" class="avatar rounded-circle mr-3">
                                            <img src="{{ user.profile_image_url_https }}" alt="twitter_profile">
                                        </a>
                                        <a style="color:red;" href="/seshat/!profile/twitter/{{ user.screen_name }}">@{{ user.screen_name }}</a>
                                    </div>
                                </td>
                                <td>
                                    <span class="pull-left" style="font-size: 12px;">{{ user.description }}</span><br><br>
                                    <a href="" class="btn btn-dark btn-neutral pull-left" style="font-size: 10px;">
                                        Followers : {{ user.followers_count }}   Following : {{ user.friends_count }} tweets : {{ user.statuses_count }}
                                    </a>
                                </td>
                                <td>
                                    <button type="button" ng-if="!user.following"  ng-click="relationOnFly('follow',user.id_str,this,$index,feature_type)" class="btn btn-success btn-icon-only rounded-circle">
                                        <span class="btn-inner--icon" ><i class="fas fa-plus-circle"></i></span>
                                    </button>
                                    <button type="button" ng-if="user.following" ng-click="relationOnFly('unfollow',user.id_str,this,$index,feature_type)" class="btn btn-danger btn-icon-only rounded-circle">
                                        <span class="btn-inner--icon" ><i class="fas fa-minus-circle"></i></span>
                                    </button>                                              
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>        
    </div>
</div>
<div ng-if="results.users.length <= 0" >
    <p class = "text-center danger" style="padding: 20px; color: red; font-size: 15px;">No data to retreive.</p>
</div>
<div ng-if="results.error.length > 0 && !results.error.reauth" >
    <div ng-repeat="err in results.error">
        <p class = "text-center danger" style="padding: 20px; color:red; font-size: 15px;">{{ err }}</p>
    </div>
</div>


