<div ng-if="data.profile.name" class="header">
    <!-- Image -->
    <img ng-src="{{ data.profile.profile_banner_url }}" class="header-img-top" alt="...">
    <div class="container-fluid">
        <!-- Body -->
        <div class="header-body mt--5 mt-md--6">
            <div class="row align-items-end">
                <div class="col-auto">
                    <!-- Avatar -->
                    <div class="avatar avatar-xxl header-avatar-top">
                        <img ng-src="{{ data.profile.profile_image_url_https }}" alt="..." class="avatar-img rounded-circle border border-4 border-body">
                    </div>

                </div>
                <div class="col mb-3 ml--3 ml-md--2">
                    <!-- Pretitle -->
                    <h6 class="header-pretitle badge badge-pill badge-danger">
                        @{{ data.profile.screen_name }}
                    </h6>
                    <!-- Title -->
                    <h3 class="header-title">
                        {{ data.profile.name }}
                    </h3>
                    <h4 class="description text-center" style="font-size: 15px ; color : red;" ng-if="data.profile.description">{{
                        data.profile.description }}</h4>
                </div>
            </div>
            <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3" style="float:right;">
                <a href="" id="relationButton" ng-if="data.profile.following && data.auth_id !== data.profile.id_str && !data.profile.follow_request_sent"
                    ng-click="createRelation('unfollow',data.profile.id_str)" class="btn btn-info btn-round btn-lg">Unfollow</a>
                <a href="" id="relationButton" ng-if="data.profile.follow_request_sent" ng-click="createRelation('undo_follow_request',data.profile.id_str)"
                    class="btn btn-danger btn-round btn-lg">Follow Request Sent.</a>
                <a href="" id="relationButton" ng-if="!data.profile.following && data.auth_id !== data.profile.id_str && !data.profile.follow_request_sent"
                    ng-click="createRelation('follow',data.profile.id_str)" class="btn btn-primary btn-round btn-lg">Follow</a>
                <button ng-if='data.auth_id !== data.profile.id_str && data.tweets[0]' class="btn btn-primary btn-round dropdown-toggle"
                    id="tweetAs" title="Tweet as {{ data.profile.name }}" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-copy text-center" style="font-size:20px;"></i>
                </button>
                <div ng-if='data.auth_id !== data.profile.id_str && data.tweets[0]' class="dropdown-menu"
                    aria-labelledby="tweetAs">
                    <button class="dropdown-item" ng-click='tweetAs( data.profile.screen_name , "ar" )'>العربية</button>
                    <button class="dropdown-item" ng-click='tweetAs( data.profile.screen_name , "en" )'>English</button>
                    <button class="dropdown-item" ng-click='tweetAs( data.profile.screen_name , "ru" )'>русский
                        язык</button>
                    <button class="dropdown-item" ng-click='tweetAs( data.profile.screen_name , "tr" )'>Türkçe</button>
                    <button class="dropdown-item" ng-click='tweetAs( data.profile.screen_name , "de" )'>Deutsch</button>
                    <button class="dropdown-item" ng-click='tweetAs( data.profile.screen_name , "es" )'>Español</button>
                    <button class="dropdown-item" ng-click='tweetAs( data.profile.screen_name , "fr" )'>Français</button>
                </div>
                <button ng-if="data.tweets[0]" ng-json-export-excel data="data.tweets" filename="data.profile.screen_name"
                    class="btn btn-default btn-round btn-lg btn-icon" report-fields="{id: '#', org_text: 'tweets',lang:'lang',retweet_count:'retweets',like_count:'likes'}"
                    rel="tooltip" title="download tweets in excel format">
                    <i class="fas fa-download text-center" style="font-size:20px;"></i>
                </button>
            </div>

            <div class="row align-items-center">
                <div class="col">
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href=".tweetsReader" role="tablist">
                                <i class="fas fa-book-open text-center" style="font-size:20px;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href=".robots" role="tablist">
                                <i class="fas fa-robot text-center" style="font-size:20px;"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        </div> <!-- / .header-body -->
    </div>
    <!-- Tab panes -->
    <div class="tab-content gallery">
        <div class="tab-pane active tweetsReader"  role="tabpanel">
            <div class="container-fluid" ng-if="!data.tweets.error && data.tweets.length > 0">
                <div class="row justify-content-md-center" style="padding:30px;">
                    <div class="col-12 col-xl-8" ng-controller="globalTwitterCtrl">
                        <!-- Card -->
                        <div ng-repeat="tweet in data.tweets" class="card">
                            <div class="card-body" id="tweet{{$index}}">
                                <!-- Header -->
                                <div class="mb-3">
                                    <div class="row align-items-center">

                                        <div class="col-auto">
                                            <span style='padding: 10px;' ng-if='tweet.retweeted'> <i class="fas fa-retweet"
                                                    style="font-size:15px;"></i>
                                                <strong style='color:green;'><a href="#!/profile/twitter/{{ tweet.user_retweeted_tweet }}"
                                                        class="badge badge-soft-danger">{{ tweet.user_retweeted_tweet
                                                        }}</a></strong></span>
                                            <br>
                                            <!-- Avatar -->
                                            <a href="#!/profile/twitter/{{ tweet.screenName }}" class="avatar">
                                                <img ng-src="{{ tweet.user_profile }}" alt="..." class="avatar-img rounded-circle">
                                            </a>
                                        </div>
                                        <div class="col ml--2">

                                            <!-- Title -->
                                            <h5 class="card-title mb-1">
                                                <a href="#!/profile/twitter/{{ tweet.screenName }}" class="badge badge-soft-primary">{{
                                                    tweet.screenName }}</a>
                                            </h5>
                                        </div>
                                        <div class="col-auto">

                                            <!-- Dropdown -->
                                            <div class="dropdown">
                                                <a href="" class="dropdown-ellipses dropdown-toggle" role="button"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fe fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="" class="dropdown-item">
                                                        <i class="fab fa-twitter-square"></i>
                                                        <span class="col-sm-2 tweetThis" ng-click='copyTweet($event);'
                                                            data-key='content{{ $index }}'>Tweet
                                                            this.</span>
                                                    </a>
                                                    <div ng-if="tweet.full_text && tweet.lang != 'und'" class="dropdown-item">
                                                        <a class='dropdown-item" link-info translateThis' ng-click="translateTweet($index)"
                                                            data-from='{{ tweet.lang }}' data-key='{{ $index }}' href=''><i
                                                                class="fas fa-language"></i>
                                                            Translate this tweet.</a>
                                                        <input type="hidden" value="{{ tweet.org_text }}" id="content{{ $index }}" />
                                                    </div>
                                                    <div ng-if="data.auth_id === data.profile.id_str && !tweet.retweeted" ng-click='deleteTweet(tweet.tweet_id,$index);' class="dropdown-item">
                                                        <a href="">
                                                            <i class="fas fa-trash-alt"></i>
                                                            <span class="col-sm-2 deleteTweet{{$index}}"  data-key='content{{ $index }}'>delete Tweet.</span>
                                                        </a>
                                                    </div>                                                                                           
                                                </div>
                                            </div>

                                        </div>
                                    </div> <!-- / .row -->
                                </div>

                                <!-- Text -->
                                <p class="mb-3" ng-if="tweet.full_text" ng-bind-html="renderHtml(tweet.full_text)" dir='{{ tweet.dir }}'>
                                </p>

                                <!-- Image -->
                                <p class="text-center mb-3" ng-if="tweet.media.src">
                                    <a ng-if='tweet.media.type == "image"' data-fancybox href='{{ tweet.media.src }}'
                                        class="fancybox" data-caption="{{ tweet.org_text }}">
                                        <img src="{{ tweet.media.src }}" alt="twitter_image" class="img-fluid rounded" />
                                    </a>
                                    <video ng-if=' tweet.media.type == "video"' class='afterglow' width="320" height="280"
                                        class="col-md-12" poster="{{ tweet.media.poster }}" controls>
                                        <source ng-src="{{ tweet.media.src }}" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video>
                                </p>
                                <!-- Buttons -->
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col">
                                            <a href="" ng-click="replayLogic($event)" data-twid="{{ tweet.tweet_id }}"
                                                data-replay-to="{{ tweet.replay_screen_name }}  {{ tweet.user_retweeted_tweet }}"
                                                class="btn btn-link tweet_replay">
                                                <span class="btn btn-sm btn-white" style="font-size:15px;"><i class="fas fa-reply"></i></span>
                                            </a>
                                            <button ng-click="retweetLogic($event)" id="retweet_unretweet_{{ tweet.tweet_id }}"
                                                data-twid="{{ tweet.tweet_id }}" data-action='{{ tweet.retweet_type }}'
                                                data-key="{{ $index }}" data-replay-context="0" class="{{ tweet.retweet_button_style }}">
                                                <i class="fas fa-retweet" style="font-size:15px;"></i>
                                                <span class='retweet_counter' style="font-size:15px;">{{
                                                    tweet.retweet_count }}</span>
                                            </button>
                                            <button id="like_unlike_{{ tweet.tweet_id }}" ng-click="likeLogic($event)"
                                                data-twid="{{ tweet.tweet_id }}" data-action='{{ tweet.like_type }}'
                                                data-key="{{ $index }}" data-replay-context="0" class="{{ tweet.like_status }}">
                                                <i class="far fa-heart" style="font-size:15px;"></i>
                                                <span class='like_counter' style="font-size:15px;">{{ tweet.like_count
                                                    }}</span>
                                            </button>
                                        </div>
                                        <div class="col-auto mr--3">
                                            <div class="avatar-group d-none d-sm-flex">
                                                <i class="fab fa-twitter" style="font-size: 25px;"></i>
                                            </div>
                                        </div>
                                    </div> <!-- / .row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section ng-if="data.tweets.error || data.tweets.length <= 0">
                <div>
                    <p class="text-center" style="font-size: 20px;color:black;font: bold;">Cannot retrive tweets
                        from this account may be this account is private.</p>
                </div>
            </section>
        </div>
        <div class="tab-pane robots"  role="tabpanel">
            <div class="row">
                <div style="padding:30px;">
                    <p ng-if="data.tweets.error" class="text-center" style="font-size: 20px;color:red;font: bold;"><span
                            style="color:black">{{ data.profile.screen_name }}</span> is a private account you can't
                        use this feature.</p>
                    <li ng-if="!data.tweets.error" class="text-center" style="font-size: 20px;color:black;font:bold;">To
                        Calculate How many fake followers <span style="color:red;">{{ data.profile.screen_name }}</span>
                        have just click the button below.</li><br>
                    <button ng-if="!data.tweets.error" id="fakeAccountsCalc" ng-click="calculateFakeFollowers(data.profile.screen_name)"
                        class="btn btn-danger">Fake Accounts</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div ng-if="data.error && !data.error.reauth" style="margin: auto;padding: 10px;width: 50%;">
    <li ng-repeat="error in data.error" class="text-center" style="font-size: 20px;font: bold;color: red;">{{ error }}</li>
</div>